body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

:root {
  --cloud-color: #f4f4fd;
  --navy-color: #2e2f42;
  --white-color: #ffffff;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --corn-color: #e7e9fc;
  --light-slate-color: #8e8f99;
  --green-color: #31d0aa;
  --dairy-color: #fcfcfc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.top-line {
  border-bottom: 1px solid var(--corn-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris-color);
  display: flex;
  margin-right: 76px;
}

.logo-change {
  color: var(--navy-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-nav {
  display: flex;
  gap: 40px;
  margin: 0 auto;
}

.page-nav .link {
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: var(--navy-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .link:hover,
.page-nav .link:active,
.page-nav .link:focus {
  color: var(--ocean-color);
}

.page-nav .link.current {
  color: var(--ocean-color);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  background-color: var(--ocean-color);
  left: 0;
}

.header-adres {
  font-style: normal;
  display: flex;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contacts .link {
  font-style: normal;
  text-decoration: none;
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:active,
.contacts .link:focus {
  color: var(--ocean-color);
}

.bottom {
  background-color: var(--navy-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom .logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.logo-change-footer {
  color: var(--cloud-color);
}

.footer-text {
  color: var(--cloud-color);
  display: flex;
  width: 264px;
  flex-direction: column;
  flex-shrink: 0;
}

.father-footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info-container {
  margin-right: 120px;
}

.footer-sm-container {
  margin-right: 80px;
}

.sm-sub-text {
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-sm-list {
  display: flex;
  gap: 16px;
}

.footer-sm-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-list .icon {
  fill: var(--cloud-color);
}

.footer-sm-list .link:hover,
.footer-sm-list .link:focus {
  background-color: var(--green-color);
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  color: var(--white-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-button {
  display: flex;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: var(--iris-color);
  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button .icon {
  margin-left: 16px;
}

.footer-button:is(:hover, :focus) {
  background-color: var(--green-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: var(--dairy-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--corn-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:is(:hover, :focus) {
  background-color: var(--ocean-color);
  border: none;
  fill: var(--white-color);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-p {
  font-weight: 500;
  text-align: center;
  color: var(--navy-color);
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--iris-color);
}

.modal-input-container .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon {
  fill: var(--iris-color);
}

.modal-form-area-container {
  margin-bottom: 16px;
}

.modal-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area:focus {
  border-color: var(--iris-color);
}

.modal-form-check-container {
  margin-bottom: 24px;
}

.modal-check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
}

.label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-form-check-container
  input[type="checkbox"]:checked
  + .modal-check-label
  .label-span {
  background-color: var(--ocean-color);
  border: none;
  fill: var(--cloud-color);
}

.label-link {
  color: var(--iris-color);
}

.modal-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--iris-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:is(:hover, :focus) {
  background-color: var(--ocean-color);
}

.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-color: var(--navy-color);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  display: flex;
  max-width: 496px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 48px;
}

.main-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--iris-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean-color);
}

.prof-list {
  display: flex;
  /* gap: 24px; */
  flex-wrap: wrap;
  gap: 72px;
}

.prof-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.prof-section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 48px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.adv-icon-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud-color);
  margin-bottom: 8px;
  display: none;
}

.prof-title {
  /* font-size: 20px;
  font-weight: 500;
  line-height: 1.2; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
  text-align: center;
}

.prof-text {
  font-weight: 500;
}

.section-projects {
  padding-bottom: 120px;
}

.projects-list {
  display: flex;
  gap: 24px;
}

.projects-item {
  width: calc((100% - 48px) / 3);
}

.section-projects .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 72px;
}

.section-our-team {
  background-color: var(--cloud-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-our-team .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 8px;
}

.our-team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-sm-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-sm-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sm-list .link:hover,
.team-sm-list .link:focus {
  background-color: var(--ocean-color);
}

.team-sm-list .icon {
  fill: var(--cloud-color);
}

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-customers .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  color: var(--light-slate-color);
  border: 1px solid var(--light-slate-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list .link:hover,
.customers-list .link:focus {
  border: 1px solid var(--ocean-color);
  color: var(--ocean-color);
}

.customers-list .icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list .link:is(:hover, :focus) .icon {
  fill: var(--ocean-color);
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--iris-color);
  text-align: center;
  cursor: pointer;
  background-color: var(--cloud-color);
  padding: 12px 24px;
  border: 1px solid var(--corn-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:active,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-app-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-app-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  background-color: var(--white-color);
}

.portfolio-link:is(:hover, :focus) {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  color: var(--cloud-color);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--iris-color);
}

.portfolio-link:is(:hover, :focus) .text-overlay {
  transform: translateY(0);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid var(--corn-color);
  border-top: none;
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.portfolio-app-item .link {
  text-decoration: none;
}

.portfolio-text {
  color: #434455;
}
